version: '3.8'

services:
  postgres:
    image: postgres:18.1-alpine
    container_name: fleet_db_container
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: fleet_db
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: